<div th:replace="compartilhado/header">...</div>

<style>
    input::placeholder {
        font-size: 14px;
        color: #8d8b8b;
        font-style: italic;
    }

    label {
        color: #000;
    }

    .panel-heading {
        color: #EAB317;
    }

    .alert {
        text-align: center;
        margin-top: 12px;
    }
</style>

<div class="container-fluid">

    <!-- Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4" style="padding: 30px;">
        <form method="POST" action="/vendas/criar" onsubmit="return confirm('Confirmar Cadastro?')">

            <h1 class="h3 mb-2 text-gray-800" style="text-align: center;">Cadastrar Venda</h1>

            <div class="container">
                <div class="panel-group">
                    <div class="panel panel-primary" style="margin-bottom: 20px;">
                        <div class="panel-heading">DADOS</div>
                        <div class="panel-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="id_receita">Receita</label>
                                    <select class="form-control" name="id_receita" id="id_receita">
                                        <option th:each="receita : ${receitas}" th:value="${receita.id_receita}"
                                            th:text="${receita.cliente.nome}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_produto">Produto</label>
                                    <select class="form-control" name="id_produto" id="id_produto">
                                        <option th:each="produto : ${produtos}" th:value="${produto.id_produto}"
                                            th:text="${produto.nome} + '   R$   ' + ${produto.preco_venda}">
                                        </option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="quantidade">Quantidade</label>
                                    <input type="text" class="form-control" id="quantidade" name="quantidade">
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="desconto">Desconto</label>
                                    <input type="text" class="form-control" id="desconto" name="desconto">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary" style="margin-bottom: 20px;">
                        <div class="panel-heading">ORDEM DE SERVIÇO</div>
                        <div class="panel-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="num_parc_total">Nº Parcelas</label>
                                    <select class="form-control" name="num_parc_total" id="num_parc_total">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="num_os">Nº O.S</label>
                                    <input type="number" class="form-control" id="num_os" name="num_os">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${msg != null}" th:text="${msg}" class="alert alert-danger" role="alert"></div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="/vendas"><button type="button" class="btn btn-danger">Cancelar</button></a>
                <div th:if="${erro != null}" th:text="${erro}" class="alert alert-danger" role="alert"
                    style="margin-top: 5px;"></div>

            </div>
        </form>
    </div>
</div>
<!-- /.container-fluid -->
<div th:replace="compartilhado/footer"></div>